// main: ../main.scss
/*--------------------------------------------------------------
# Starter Section 2 Section
--------------------------------------------------------------*/
.starter-section-2 {

  /* Add your styles here */
  .container {
    padding: 2rem 0rem;
  }

  h4 {
    margin: 2rem 0rem 1rem;
  }

  .table-image td,
  .table-image th {
    vertical-align: middle;
  }
}